<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" href="/CSS/style.css">

</head>
<body>

<div class="login-page" >
  <div class="form">
    <form class="login-form" method="post" action="/login" th:object="${loginRequest}">
        <input type="text" th:field="*{username}" placeholder="username" required/>
        <input type="password" th:field="*{password}" placeholder="password" required/>
      <button>login</button>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
    </form>
  </div>
</div>

</body>
</html>