<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>register page</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>

<div class="login-page">
    <div class="form">
        <form class="register-form" method="post" action="/register" th:object="${registerRequest}">
            <input type="text" placeholder="username" th:field="*{username}" required />
            <input type="password" placeholder="password" th:field="*{password}" required />
            <input type="text" placeholder="email" th:field="*{email}" required />
            <button type="submit">register</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </form>


    </div>
</div>

</body>
</html>